* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* ---- HEADER ---- */


.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header img {
    width: 150px;
    margin-top: 15px;
}
nav {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}
.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFF300;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after {
    width: 100%;
}
.info {
    margin-left: 3%;
    margin-top: 19%;
}
.info h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.info .MHA {
    background-color: #FF2B2B;
}
.info p {
    color: white;
    text-align: center;
}


/* ---- BODY ---- */
.body .row {
    margin: 10%;
    display: flex;
    justify-content: center;
}
.body {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.party h1 {
    font-size: 2em;
    text-align: center;
}
.party p {
    font-size: 1.5em;
    text-align: center;
}

.MHA-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.MHA-col img {
    width: 700px;
    border-radius: 15px;
}
.MHA-col p {
    padding: 0;
}
.MHA-col h2 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}


/* ---- PERSONNAGES ---- */
.characters {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.characters .row {
    margin: 10%;
    display: flex;
    justify-content: space-between;
}
.MHAC-col {
    flex-basis: 29%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.MHAC-col img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 15px black;
}
.MHAC-col img:hover {
    width: 110%;
    transition: 1s;
}
.MHAC-col p {
    padding: 0;
}
.MHAC-col h2 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/* ---- FOOTER ---- */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa {
    color: #FF2B2B;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}