* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

header {
    position: relative;
    margin: 0 150px;
    min-height: 100px;
    max-height: none;
    width: 80%;
}
nav {
    border: 1px solid #808080;
    border-radius: 100px;
    padding: 0;
    margin-top: 10px;
    display: block;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    position: relative;
    bottom: 30px;
    margin: 0 40px;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: #979797;
    font-weight: 700;
    font-size: 16px;
}


header img {
    position: relative;
    width:100px;
    top: 10px;
}

.header {
    width: 100%;
    padding: 0;
}
.header .info{
    width: 80%;
}
.info img {
    position: relative;
    left: 150px;
    width: 100%;
    border-radius: 11px;
    box-shadow: 0px 10px 10px 0px rgba(128, 128, 128, 0.60); 
}
.details {
    width: 80%;
    margin: auto;
    position: relative;
    align-items: center;
    left: 400px;
    bottom: 160px;
}
.details h1{
    position: relative;
    color: white;
    font-size: 60px;
    bottom: 350px;
    right: 120px;
    letter-spacing: 10px;
}
.details p {
    position: relative;
    bottom: 320px;
    left: 25px;
    color: white; 
}
.details .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 220px;
    bottom: 15px;
}
.details .btns .btn1 {
    position: relative;
    right: 50px;
    background-color: #719503;
    width: 115px;
    min-height: 41px;
    border-radius: 100px;
}
.details .btns .btn2 {
    position: relative;
    background-color: white;
    width: 115px;
    min-height: 41px;
    border-radius: 100px;
}
.details .btn1 a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
    left: 13px;
    font-size: 14px;
}
.details .btn2 a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 10px;
    left: 22px;
    font-size: 14px;
}



.porsches {
    width: 100%;
    margin: 20px;
    margin-bottom: 80px;

}
.porsches img {
    position: absolute;
    left: 500px;
    transform: translate(50px, -260px);
    width: 55%;

}
.container {
    position: relative;
    left: 240px;
    background-color: #f0f0f0;
    width: 63%;
    min-height: 314px;
}
.text {
    width: 60%;
    position: relative;
    left: 5.3%;
    top: 50px;
    font-size: 14px;
}
.container h2 {
    width: 26.1%;
    position: relative;
    left: 6.5%;
    top: 30px;
}
.container .btn3 {
    width: 120px;
    min-height: 40px;
    border: 1px solid #979797;
    position: relative;
    top: 70px;
    left: 100px;
    border-radius: 100px;
}
.container .btn3 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
    left: 16px;
    top: 10px;
}


 section .products {
    width: 80%;
    margin: 0;
}
.products h2 {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    left: 100px;
    bottom: 10px;
}
.products .contain {
    width: 97%;
    min-height: 273px;
    background-color: #f0f0f0;
    position: relative;
    left: 20px;
    margin-top: 10px;
}
.products .Taycan {
    width: 43%;
    position: relative;
    bottom: 340px;
    left: 250px;
}
.products .Cayenne {
    width: 27%;
    position: relative;
    bottom: 340px;
    left: 380px;
}

.products .texte {
    width: 60%;
    position: relative;
    bottom: 380px;
    left: 100px;
}
.products .texte h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.products .texte p {
    font-size: 14px;
}
.products .btn4 {
    width: 120px;
    min-height: 40px;
    border: 1px solid #979797;
    position: relative;
    left: 950px;
    bottom: 50px;
    border-radius: 100px;
}
.products .btn4 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    left: 29px;
    top: 9px;
}